/data_classification/*
/data_detection/*
/detection_image/*
/my_train_CNN/*
/my_eval_CNN/*
/my_eval_resnet/*
/my_train_resnet/*
/checkpoints/*
/checkpoints_detection/*
/slim/datasets/*
/slim/deployment/*
/slim/nets/*
/preprocessing/*
/scripts/*
/object_detection/*
